/*
* @Author: ASUS
* @Date:   2018-06-20 18:16:33
* @Last Modified by:   lenovo
* @Last Modified time: 2018-06-27 10:32:26
*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;
}
li{
	list-style: none;
}
.all{
	position: relative;
	width: 768px;
	margin: 0 auto;
	background: #ccc;
	overflow: hidden;
}
.header{
	position: relative;
	margin: 0 auto;
	width: 768px;
	overflow: hidden;
}
.header ul{
	float: left;
}
.header ul li{
	float: left;
	height: 29px;
	width: 107px;
	line-height: 29px;
	text-align: center;
	background-color: #666;
}
.header ul li:hover{
	background: linear-gradient(#bbb, #666);
}
.header a{
	color: #fff;
}
.content{
	height: 185px;
	width: 768px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
}
.logo{
	float: left;
}
.login,.ad,.sidebar{
	float: left;
}
.login{
	position: relative;
	width: 125px;
	height: 185px;
	background: #fff;
}
.login>h4{
	text-align: center;
}
.login label{
	float: left;
}
.login label{
	margin: 5px auto;
}
.login label span{
	float: left;
}
.input{
	float: left;
	width: 70px;
	height: 17px;
}
.submit{
	position: absolute;
	width: 61px;
	height: 23px;
	bottom: 30px;
	left: 32px;
	border: 1px solid #000;
}
.login a{
	font-size: 10px;
	margin-left: 8px;
	color: #436EEE;
	text-decoration: underline;
}
.ad{
	position: relative;
	width: 469px;
	height: 185px;
	overflow: hidden;
}
.ad ul{
	position: relative;
	font-size: 0px;
	width: 1000%;
	overflow: hidden;
}
.ad ul li{
	float: left;
}
.sidebar{
	position: relative;
	margin-left: 10px;
}
.sidebar ul li{
	width: 164px;
	height: 47px;
	background:-webkit-linear-gradient(top,#999,#000);
	line-height: 47px;
}
.sidebar a{
	color: #fff;
	margin-left: 5px;
}
.content2{
	position: relative;
	margin-top: 10px;
	width: 594px;
	background: #fff;
	overflow: hidden;
}
.content2>h3,.content2>a{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0px 5px 5px 5px;
}
.more{
	position: absolute;
	right: 10px;
}
.content2>hr{
	clear: both;
}
.content2 ul>li{
	position: relative;
	width: 594px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content2 ul span{
	position: absolute;
	right: 5px;
}
.content2 ul a:hover{
	text-decoration: underline;
}
.content3{
	position: relative;
	margin-top: 10px;
	width: 594px;
	background: #fff;
}
.content3>h3,.content3>a{
	float: left;
	margin-right: 10px;
}
.content3>hr{
	clear: both;
}
.content3 ul{
	position: relative;
	margin: 0 auto;
	left: 37.5px;
	text-align: center;
	overflow: hidden;
}
.content3 ul li{
	position: relative;
	margin: 5px 5px 10px 5px;
	float: left;
	width: 163px;
}
.content3 ul li a{
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
}
.footer{
	position: relative;
	width: 768px;
	height: 88px;
	margin: 0 auto;
	overflow: hidden;
	background: #666;
}
.footer p{
	text-align: center;
	line-height: 88px;
}
